﻿@{
	ViewBag.Title = "Login";
}
<div class="offset4 span4">
	<form method="POST" action="@Url.Action("Login", "User")" class="form-horizontal">
		<fieldset>
			<legend>Login</legend>
			<div class="control-group">
				<label class="control-label" for="username">
					Username
				</label>
				<div class="controls">
					<input type="text" name="username" id="username" placeholder="Username" value="@ViewData["username"]" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">
					Password
				</label>
				<div class="controls">
					<input type="password" name="password" id="password" placeholder="Password" />
				</div>
			</div>
			<div class="form-actions">
				<button class="btn btn-primary" type="submit">Login</button>
			</div>
		</fieldset>
	</form>
	<div class="well-large">
		Don't have an account?
		<a href="@Url.Action("Create", "User")">Click here</a> to make one.
	</div>
</div>
