﻿@{
	var messages = ViewData["Messages"] as List<Web.Infrastructure.Message>;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css/css")
	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("Styles", required: false)
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="@Url.Action("Index", "Home")">My Contacts</a>
				<ul class="nav">
					@if (User.Identity.IsAuthenticated)
	 {
						<li></li>
						<li></li>
						<li>
							<a href="@Url.Action("Logout", "User")">Logout</a>
						</li>
	 }
				</ul>
			</div>
		</div>
	</div>
	@if (messages != null && messages.Count > 0)
 {
		<div id="Messages" class="container">
			@foreach (var message in messages)
   {
				<div class="@message.CssClass">
					@message.Text
				</div>
   }
		</div>
 }
	<div class="container">
		<div class="row">
			@RenderBody()
		</div>
	</div>

	<!-- The JavaScript -->
	@Scripts.Render("~/bundles/global")
	@RenderSection("Scripts", required: false)
</body>
</html>
